<!DOCTYPE html>
<html lang="en">
  <head>
    <% include templates/html_header %>
  </head>
  
  <body>
    
    <div class="container fmj-main-content">
    
      <div class="row-fluid">
        <div class="span6 offset3"><div class="row-fluid">
          <h3 class="center">Register</h3>
          <% if (typeof(error_message)!='undefined'){%>
            <div class="alert alert-block alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p><%=error_message%></p>
            <% if (typeof(error_fields)!='undefined'){%>
              <% if (typeof(error_fields)!='undefined'){%>
                <ul>
                  <% if (typeof(error_fields.reg_email)!='undefined') { %>
                    <li><%= error_fields.reg_email.msg %></li>
                  <% } %>
                  <% if (typeof(error_fields.reg_password)!='undefined') { %>
                    <li><%= error_fields.reg_password.msg %></li>
                  <% } %>
                  <% if (typeof(error_fields.reg_name)!='undefined') { %>
                    <li><%= error_fields.reg_name.msg %></li>
                  <% } %>
                </ul>
              <% } %>
            <% } %>
            </div>
          <% } %>
          
          <form class="form-horizontal" action="/register" method="post" autocomplete="off">
              
          <div class="control-group center">
            <input class="span8" type="text" id="reg_email" name="reg_email" placeholder="Email" value="<%= (typeof(email) == 'undefined')? '': email%>" <%= (typeof(email) == 'undefined')? '': 'readonly'%>>
          </div>
          <div class="control-group center">
            <input class="span8" type="text" id="reg_name" name="reg_name" placeholder="Full Name" value="<%= (typeof(name) == 'undefined')? '': name%>" <%= (typeof(name) == 'undefined')? '': 'readonly'%>>
          </div>
          <div class="control-group center">
            <input class="span8" type="password" id="reg_password" name="reg_password" placeholder="Password">
          </div>
            
          <div class="center">
            <input class="btn btn-success center span8" type="submit" value="Register">
          </div>
            
            
          </form>
                  
        </div></div>
      </div>
      
  
    </div>
    
    <% include templates/footer_js %>
  </body>
</html>






